:root
{
    --txtcolor :white;
    --primary-color :#FCC101;
}
.name
{
    color: var(--txtcolor);
    padding: 15px 10px;


}
.home-summary
{
    font-size: 22px;
    padding: 15px 18px;
    text-align: justify;
    width: 90%;
}
span{
    color: var(--primary-color);
    font-size:200%;
}
.home-content
{
    display: flex;
    justify-content: space-between;
}
.home-profile
{
    width: 100%;
    height:100%;
    border-radius: 50%;
    border: 7px solid white;
    overflow: hidden;
    margin: 10% 5%;
    
}
.home-buttons
{
    background-color: var(--txtcolor);
    color: black;
    padding: 0px 65px;
    font-size: larger;
    font-weight: 600;
    border-radius: 50px;
    
    margin:4% 13%;

}
.home-links
{
    display: flex;
    padding-top: 30px;
    
}
.home-buttons:hover
{
    color: var(--txtcolor);
    background-color: black;
    border: 4px solid white;
}
.home-skills
{
    width: 500px;
    height:250px;
}


@media screen and (max-width:1030px) {
    .home-content
     {
        display: block;
        align-items: center;
     }
     .home-summary
     {
        width:100%;
        padding-bottom: 5rem;
     }
    .home-profile
    {
        width: 60%;
        height: 40%;
        justify-self: center;
        margin-bottom: 50px;
    }
    .home-skills
    {
        width:auto;
    }
}

@media screen and (max-width:450px) {
     .name
     {
        padding: 0px 5px;
     }
     .home-content
     {
        display: block;
     }
     .home-summary
     {
        font-size: 16px;
        padding: 10px 14px;
        margin: 0px;
        line-height:20px ;
     }
     .home-links
     {
        display: block;
        justify-content: center;
     }
     .home-buttons
     {
        padding: 10px 40px;
        margin: 0 24%;
        margin-bottom: 40px; 
        justify-content: center;
     }
     .home-skills
     {
        width:80%;
        height: 60%;
     }
}
