
/* :root
{
    --txtcolor : white;
    --primary-color:#FCC101;
} */
ul
{ 
    list-style: none;
    display: flex;   
}
.header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.5rem ;
    position: sticky;
}

a
{
    font-size: 110%;
    color: var(--txtcolor);
    text-decoration: none;
    padding-left: 3rem;
}
a:hover
{
   color: var(--primary-color);
   font-size: 115%;
}

.nav-icons
{
    font-size: 25px;
    display: none;
}



@media screen and (max-width :450px)
{
    .nav-icons
    {
        display: flex;
    }
    .nav-links.active
    {
        position: absolute;
        width :100%;
        top:100%;
        left: 0%;
        
    }
    .nav-links
    {
     position: absolute;
     left:-100%;
    }
    ul
    {
        display: flex;
        flex-direction: column; 
        text-align: center;
    }
    .nav-items
    {
        border-top: 1px solid white;
        padding: 7px 0px;
    }
    .header
    {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}

